Django==5.2.11
Pillow>=10.0.0 #без этой библиотеки джанго не сможет проверить, что загруженный файл — картинка (для аватарок мне нужна)
celery>=5.0.0 #для выполнения фоновых и периодических задач, например отправки напоминаний и автоматической обработки расписаний без участия пользователя.
openpyxl>=3.0.0 #для работы с excel-файлами, для экспорта отчётов/табелей/расписаний
psycopg[binary]>=3.2.0 #драйвер подключения Django к PostgreSQL. Без него Django не сможет работать с PostgreSQL-базой данных.
openai>=1.40.0 #библиотека для обращения к OpenAI API
