<!-- templates/core/schedule_list.html -->
{% extends "core/base.html" %}

{% block title %}Графики - {{ block.super }}{% endblock %}

{% block content %}
<h2>Список графиков</h2>
<a href="{% url 'create_schedule' %}" class="nav-link text-white"><i class="bi bi-plus-circle"></i> Создать график</a>

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Статус</th>
            <th>Создатель</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.name }}</td>
                <td>{{ schedule.start_date }}</td>
                <td>{{ schedule.end_date }}</td>
                <td>{{ schedule.get_status_display }}</td>
                <td>{{ schedule.created_by.username }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Графики не найдены.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}