<!-- templates/core/dashboard.html -->
{% extends "core/base.html" %}

{% block title %}Дашборд - {{ block.super }}{% endblock %}

{% block content %}
<h2>Личный кабинет</h2>
<p>Привет, {{ user.username }}! Текущая роль: {{ user.profile.get_current_role_display }}</p>

{% if user.profile.role == 'admin' %}
    <h3>Статистика системы</h3>
    <p>Всего пользователей: {{ user_count }}</p>
{% endif %}

{% if user.profile.current_role == 'planner' %}
    <h3>Последние графики</h3>
    {% if schedules %}
        <ul>
        {% for schedule in schedules %}
            <li><a href="#">{{ schedule.name }} ({{ schedule.start_date }} - {{ schedule.end_date }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Графики не найдены.</p>
    {% endif %}
{% endif %}

<!-- Добавьте сюда контент для других ролей -->
{% endblock %}